.root {
  font-family: 'Josefin', 'Koulen', 'lexend';  
  font-family: 'Poppins', 'Questrial', 'Quicksand';
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', 'Questrial', 'Quicksand';
  background-color: #f9fbfd;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  font-family: 'Josefin', 'Koulen', 'lexend';  
  font-size: 20px;
  text-align: center;
  padding: 0px;
  padding-top: 0px;
  color:  rgb(57, 57, 57);
}

h1 {
  font-family: 'Josefin', 'Koulen', 'lexend';  
  font-size: 30px;
  text-align: center;
  padding: 0px;
  padding-top: 0px;
  color:  rgb(57, 57, 57);
}

.card {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid rgb(57, 57, 57);
  border-radius: 5px;
  font-size: 14px;
  margin: 50px;
  padding: 0px 5px 100px 5px;
}

.card p {
  text-align: center;
  padding: 0px 50px;
}

.card section {
  text-align: center;
  padding: 0px;
  padding-top: 0px;
}
  
#scoreContainer li {
  list-style-type:none;
}

textarea {
  font-family: 'Poppins', 'Questrial', 'Quicksand';
  font-size: 14px;
  color: black;
  text-align: center;
  padding: 15px 75px 0px 75px;
  }

@media screen and (max-width: 440px) {
textarea {
  text-align: center;
  padding: 15px 0px;
  }
}

.flexbox-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  Margin: 0px 15px 0px 15px;
}

@media screen and (max-width: 1118px) {
.flexbox-container {
  flex-direction: column;
  width:  100%;
  height: 100vh/4;
  transition: all 2s ease-in-out;
  }
}

.flexbox-containe-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  Margin: 0px 15px 0px 15px;
}

.card-footer {
  content: " ";
  display: block;
  width: 100%;
  background: white;
  height: 2px;
  text-align: center;
}

.btn {
  border: none;
  background-color: rgb(154, 19, 203);
  border-radius: 5px;
  color: white;
  font-family: 'Josefin', 'Koulen', 'lexend';  
  font-size: 22px;
  line-height: 22px;
  margin: 13px;
  padding: 13px;
  text-align: center;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
  
#goBack a {
  text-decoration: none;
  color: white;
}

.hidden {
  display: none;
}

/*referenced: https://stackoverflow.com/questions/14231329/ */
.card-footer p {
  position:absolute;
  top: 68px;
  right: 25px;
}